@model SplitWiseApp.Models.GroupModel
<style>
    .image-selection {
        display: flex;
        flex-wrap: wrap;
    }

    .image-option {
        margin-bottom: 10px;
    }

        .image-option img {
            width: 50px;
            height: 50px;
            cursor: pointer;
        }

        .image-option.selected img {
            border: 2px solid blue;
        }
</style>

<div class="container border rounded p-4">
    <h1>Create A Group</h1>

    @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.SuccessMessage
        </div>
    }

    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.ErrorMessage
        </div>
    }

    <form method="post">
        <div class="form-group">
            <label for="GroupName">Group Name:</label>
            <br />
            <input type="text" class="form-control" id="GroupName" name="GroupName" style="max-width: 300px;" required>
        </div>
        <br />
        <div class="form-group">
            <label>Select Type:</label>
            <br />
            <div class="image-selection">
                @foreach (var category in ViewBag.Categories)
                {
                    <div class="image-option" data-id="@category.Id">
                        <img src="@category.ImageUrl" alt="@category.Name" style="width: 50px; height: 50px; margin-right: 40px; cursor: pointer;" />
                        <br />
                        <span>@category.Name</span>
                    </div>
                }
            </div>
            <input type="hidden" id="TypeId" name="TypeId"  />
        </div>

        <br />
        <button type="submit" class="btn" style="background-color: black; color: white;">Done</button>

    </form>
    <br />
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var imageOptions = document.querySelectorAll(".image-option");
        imageOptions.forEach(function (option) {
            option.addEventListener("click", function () {
                var id = option.getAttribute("data-id");
                document.getElementById("TypeId").value = id;
                imageOptions.forEach(function (opt) {
                    opt.classList.remove("selected");
                });
                option.classList.add("selected");
            });
        });
    });
</script>