@model List<SplitWiseApp.Models.Friends>

<h3> Group Members</h3>

<div class="text-center">

    <!-- Add Bootstrap class for center alignment -->

    <a href="@Url.Action("AddFriend", "SplitWise")" class="btn btn-dark">Add New Friends</a>

</div>


<h4>Add Friends To Expense</h4>

@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))

{

    <div class="alert alert-success" role="alert">

        @ViewBag.SuccessMessage

    </div>

}

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))

{

    <div class="alert alert-danger" role="alert">

        @ViewBag.ErrorMessage

    </div>

}

<form method="post" asp-action="AddGroupMembers">

    @foreach (var friend in Model)

    {

        <div class="form-check">

            <input type="checkbox" class="form-check-input" id="friend-@friend.FriendId" name="friends" value="@friend.FriendId">

            <label class="form-check-label" for="friend-@friend.FriendId">@friend.FriendName</label>

        </div>

    }

    <br />

    <button type="submit" class="btn" style="background-color: black; color: white;">Ok</button>

</form>
